* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #283593;
}

#general {
    padding: 50px;
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: #333 3px 3px 5px;
}

#content {}

#avatar-container {
    width: 150px;
    margin: 0 auto;
}

#avatar {
    width: 100%;
    border-radius: 100px;
    box-shadow: #999 3px 3px 5px;
}

#text {
    padding: 20px 0;
}

#text>h1 {
    color: #555;
    font-size: 20px;
    text-align: center;
}

#text>h2 {
    color: #999;
    font-size: 15px;
    text-align: center;
}

#social {
    width: 293px;
    margin: 0 auto;
}

#social a {
    width: 50px;
    padding: 10px;
}

.social-media {
    width: 50px;
}